# Python-specific files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# IDE config
.vscode/
.idea/
.project
.pydevproject

# Backups
*.bak
*~
